thead {
    overflow: auto;
    background-color: #7f7171;
    color: #fff;
    padding: 10px;
    th {
        width: 80px;
    }
}

tbody {
    height: 10vh;
    td {
        width: 250px;
        border: 1px solid black;
        padding-top: 40px;
    }
}

.pagenation {
    position: fixed;
    bottom: 30px;
    text-align: center;
    margin: auto;
    a {
        width: 50px;
        background-color: #745c5c;
        color: #fff;
        margin-left: 10px;
        padding: 5px;
    }
}