<table *ngIf="sample_datafile" style="text-align: center;" (click)="data()">
    <thead>
        <th>Name</th>
        <th>phone</th>
        <th>email</th>
        <th>company</th>
        <th>date_entry</th>
        <th>org_num</th>
        <th>address_1</th>
        <th>city</th>
        <th>zip</th>
        <th>geo</th>
        <th>pan</th>
        <th>pin</th>
        <th>id</th>
        <th>status</th>
        <th>fee</th>
        <th>guid</th>
        <th>date_exit</th>
        <th>date_first</th>
        <th>date_recent</th>
        <th>url</th>
    </thead>
    <tbody>
        <tr *ngFor="let sample_datafile of sample_datafile | slice:startIndex:getendindex">
            <td>{{sample_datafile.name}}</td>
            <td>{{sample_datafile.phone}}</td>
            <td>{{sample_datafile.email}}</td>
            <td>{{sample_datafile.company}}</td>
            <td>{{sample_datafile.date_entry}}</td>
            <td>{{sample_datafile.org_num}}</td>
            <td>{{sample_datafile.address_1}}</td>
            <td>{{sample_datafile.city}}</td>
            <td>{{sample_datafile.zip}}</td>
            <td>{{sample_datafile.geo}}</td>
            <td>{{sample_datafile.pan}}</td>
            <td>{{sample_datafile.pin}}</td>
            <td>{{sample_datafile.id}}</td>
            <td>{{sample_datafile.status}}</td>
            <td>{{sample_datafile.fee}}</td>
            <td>{{sample_datafile.guid}}</td>
            <td>{{sample_datafile.date_exit}}</td>
            <td>{{sample_datafile.date_first}}</td>
            <td>{{sample_datafile.date_recent}}</td>
            <td>{{sample_datafile.url}}</td>
        </tr>
    </tbody>
</table>

<div class="pagenation">
    <label *ngFor="let item of getarrayfromnumber(sample_datafile.length/5);let in = index"><a (click)="updateIndex(in)">{{in+1}}</a></label>
</div>

<router-outlet></router-outlet>